.bag {
}
.title {
  margin-top: 20px;
  text-align: center;
  font-style: italic;
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 240px;
}
.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 300px;
}
.text {
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
}
