.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px 10px 20px;
}
.p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: rgba(0, 0, 0, 0.7);
}
